.container{
    border: 2px solid green;
    background-color: yellow;
    height: 600px;
    width: 800px;

    display: flex;
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    flex-wrap: wrap;
    /* flex-flow: column wrap; */

    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* justify-content: space-between; */
    
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: stretch; */
    /* align-items: baseline; */
    
    gap: 10px;
    
    /* align-content: flex-start; */
    /* align-content: flex-end; */
    /* align-content: center; */
    /* align-content: space-between; */
    /* align-content: space-around; */
    /* align-content: space-evenly; */
    
    /* justify-content: flex-start; */
    /* justify-content: start; */
    justify-content: center;
    align-items: center;
    /* align-content: center; */
}
.box{
    border: 1px solid red;
    background-color: aqua;
    width: 90px;
}