h1{
    text-shadow: 3px 3px 3px red;       /* last 3px is to blur the shadow. horizontal, vertical- initial 3px*/
    text-shadow: 3px 3px 3px red, 50px 50px 3px green;
    afnwjfbe
    ewjbfhew
    nfjewbf
    fnfwjebfj
    bdheqd
    bhedd
    dbewjd
    fhewbf
    fhewbfwf
    eqjqfe
    beqjfb
    qhbf'fbhjeqq
    fbeqhf
    fvheqfb
    fbeqjfbdbeq'
    dvqbvf
    heqvfQhqebf
    visibility: hidden;fvheqf
    hhfvbheq
    dbhb
    heqbvfd
    fhedb font: fhewbdf sans-serif;

}